.vs
obj
bin
.idea
Folder.DotSettings.user
test/summary.html
node_modules
openapitools
**/build
**/build/src/main/gen
.gradle
.DS_Store

~$observerbarhet.pptx
data
source/opentelemetry-workshop.sln.DotSettings.user
